<%- include('header'); -%> 
<div class="content"> 
    <table id = "catalog">
        <tr>
          <th>Name</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>email</th>
        </tr>
        <tr>
          <td>Nripesh</td>
          <td>Sharjah</td>
          <td>0544337597</td>
          <td>nripesh14@gmail.com</td>
        </tr>
        <tr>
          <td>Arunima</td>
          <td>Dubai</td>
          <td>056463528</td>
          <td>dumb@gmail.com</td>
        </tr>
        <tr>
            <td>Yasir</td>
            <td>Dubai</td>
            <td>054393847</td>
            <td>yas@gmail.com</td>
          </tr>
      </table>
</div>
<%- include('footer'); -%>